@use "../abstracts/" as a;

a:hover {
    text-decoration: none;
}

a {
    color:var(--clr-primary-black);
}

.icon-container {
    display:flex;
    justify-content: center;
}

.icon {
    padding:0.5em;

}